PORT=5000
# Example: mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
MONGO_USERNAME=<username>
MONGO_PASSWORD=<password>
CLIENT_URL=http://localhost:5173
